body {
font-family: 'Kaushan Script', cursive;
font-family: 'Special Elite', cursive;

background-color: lightblue;

}

#debug{
    color: white;
}
#wins{
    color: white;
}
#losses{
    color: white;
}
#score{
    color: white;
}











